{% extends "base.html" %}
{% block title %} XandO | Home {% endblock %}
{% block content %}
<script
        type="text/javascript"
        src="{{ url_for('static', filename='api-call.js') }}"
></script>
<script>
    context.username = "{{ user.username }}"
</script>
<div class="row" style="height:100%">
    <div class="col-4 messages-form">
        <div class="logo">
            <h3>Messages</h3>
        </div>

        <!-- Replace This -->
        <div id = "messages" class="messages">
            {% for message in messages %}
            {% if message.username == user.username %}
            <div class="chat-box right">{{ message.data }}</div>
            {% else %}
            <div class="chat-box left">{{ message.username }} : {{ message.data }}</div>
            {%endif%}
            {% endfor %}
        </div>

        <!-- Till here -->
        <form class="chat-form" method="POST">
            <div class="row">
                <input type="text" class="col-lg-9" id="message" name="message" placeholder="Enter message"/>
                <button type="submit" class="bg-dark col-lg-2">Submit</button>
            </div>
        </form>
    </div>
    <script>
        scrollMessages()
        focusMessage()
    </script>

    <div class="game-container">
        <div class="game-pane">
            <table>
                <tr>
                    <td>
                        <button id="box0" class="box" value="0" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box1" class="box" value="1" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box2" class="box" value="2" onClick="selectBox(this)"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="box3" class="box" value="3" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box4" class="box" value="4" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box5" class="box" value="5" onClick="selectBox(this)"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="box6" class="box" value="6" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box7" class="box" value="7" onClick="selectBox(this)"></button>
                    </td>
                    <td>
                        <button id="box8" class="box" value="8" onClick="selectBox(this)"></button>
                    </td>
                </tr>
            </table>
            <button onClick="reset()">Reset</button>
        </div>
    </div>
</div>
{% endblock %}