{% extends "base.html" %}
{% block title %} XandO | Home {% endblock %}
{% block content %}
<script
        type="text/javascript"
        src="{{ url_for('static', filename='api-call.js') }}"
></script>
<script>
    context.username = "{{ user.username }}"
</script>
<div class="row" style="height:100%">
    <div class="col-4 messages-form">
        <div class="logo">
            <h3>Messages</h3>
        </div>

        <!-- Replace This -->
        <div id = "messages" class="messages">
            {% for message in messages %}
            {% if message.username == user.username %}
            <div class="chat-box right">{{ message.data }}</div>
            {% else %}
            <div class="chat-box left">{{ message.username }} : {{ message.data }}</div>
            {%endif%}
            {% endfor %}
        </div>

        <!-- Till here -->
        <form class="chat-form" method="POST">
            <div class="row">
                <input type="text" class="col-lg-9" id="message" name="message" placeholder="Enter message"/>
                <button type="submit" class="bg-dark col-lg-2">Submit</button>
            </div>
        </form>
    </div>
    <script>
        scrollMessages()
        focusMessage()
    </script>

    <div class="game-container">
        <div class="player-names">
            <span id="x-name"></span>
            <span id="o-name"></span>
            <span id="winner"></span>
        </div>
        <div class="game-pane">
            <table>
                {% for i in range(3) %}
                    <tr>
                        {% for j in range(3) %}
                            <td>
                                <button id="box{{ i*3 + j }}" class="box" value="{{ i*3 + j }}" onClick="selectBox(this)" disabled></button>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <button id="player1" onClick="player1()" disabled>Player 1</button>
            <button id="player2" onClick="player2()" disabled>Player 2</button>
            <button onClick="reset()">Reset</button>
        </div>
    </div>
    <script>
        callUpdate()
    </script>
</div>
{% endblock %}