<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
        />
        <link rel="stylesheet" href="static/test-style.css"/>
        <title>Test Template</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar row">
                    <div class="navbar-left col-lg-6">
                    </div>
                    <div class="navbar-right col-lg-6">

                    </div>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-lg-6 order-1">
                Div 1 6-col
            </div>
            <div class="col-lg-6 order-2">
                Div 2 6-col
            </div>
        </div>
        <div id="display"></div>
        <script src="static/index.js"></script>
    </body>
</html>